*{
    /* color: red; */
    background-color: #f6fff8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #283618;
}

h2{
    color: #606c38;
}

p{
    color: #212529;
}