@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{   
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: #FAF3E0;
}


h1{
    color: #4B3B47;
}

h2{
    color: #7D5A6E;
}

p, ul, ol{
    color: #3D3D3D;
}

a{
    color: #D16103;
}

h3{
    color: red;
}