<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>fideos con tuco</title>
</head>

<body>
    <h1>Fideos con tuco</h1>
    <p>Un buen plato de fideos con tuco es sinónimo de hogar y tradición. Una salsa llena de sabor gracias al Condimento para tucos y guisos Alicante y unos fideos amasados desde cero, es la combinación ideal para para disfrutar de la calidez de la comida casera</p>
    <img src="../img/fideos_con_tuco2.jpg" alt="fideo con tuco" width="500" height="250"><br><br>

    <h2>Ingredientes</h2>
    <h3>Para la pasta</h3>
    <ul>
        <li>100 gramos Harina 000</li>
        <li>¾ u Yemas</li>
        <li>25 ml Agua</li>
        <li>¼ pizca Sal</li>
        <li>¼ cucharada Harina 000 o semolín</li>
    </ul>
    <h3>Para el tuco</h3>
    <ul>
        <li>½ cda Aceite de oliva</li>
        <li>¼ u Cebolla mediana</li>
        <li>½ u Dientes de ajo</li>
        <li>¼ u Zanahoria pequeña</li>
        <li>¼ u Pimiento rojo</li>
        <li>¼ u Lata de tomate triturado o puré de tomate (400 gramos)</li>
        <li>¼ u Laurel en hojas</li>
        <li>¼ cucharadita Orégano</li>
        <li>¼ cucharadita Condimento para tucos y guisos</li>
        <li>Agua caliente</li>
        <li>¼ cucharadita Sal</li>
        <li>Pimienta negra molida</li>
    </ul>
    <h2>Pasos para la preparación</h2>
    <ol>
        <li>Colocar la harina sobre la mesada formando un hueco en el centro, en él colocar las yemas, el agua, la sal y el aceite.</li>
        <li>Mezclar los ingredientes dispuestos en el interior del hueco integrando de a poco la harina hasta lograr la
            masa.</li>
        <li>Amasar hasta lograr una masa suave y lisa, esto llevará unos 10 minutos como mínimo.</li>
        <li>Formar un bollo y taparlo con papel film para luego llevarlo a la heladera durante 1 hora.</li>
        <li>Dividir la masa en tres partes iguales y estirarlas con ayuda de un palo de amasar o una máquina para pastas
            hasta lograr unos 2 mm de espesor</li>
        <li>Cortar fideos de 1/2 cm de ancho aproximadamente, espolvorearlos con un poco de harina o semolín y luego
            cocinarlos en agua hirviendo por unos 2 o 4 minutos (no más que eso, sino comenzarán a apelmazarse)</li>
        <li>En una cacerola con un poco de aceite rehogar la cebolla finamente picada, el ajo cortado al medio y la
            zanahoria cortada en cubitos, a fuego bajo por unos 5 minutos.</li>
        <li>Añadir el pimiento también picado y cocinar ambos ingredientes 5 minutos más.</li>
        <li>Incorporar el tomate triturado, el Condimento para Tucos y Guisos Alicante, la hoja de Laurel y cocinar a
            fuego medio 10 minutos más aproximadamente</li>
        <li>Agregar 1 taza de agua caliente y seguir cocinando por 20 minutos más.</li>
        <li>Colocar los fideos ya cocidos en una fuente, cubrirlos con el tuco y espolvorearlos con mucho queso rallado.
        </li>
    </ol>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/v06fobKwa1Q?si=CTntXIYjAnm6esll" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <br><br>

    <a href="https://alicante.com.ar/receta/fideos-con-tuco/?servings=1">Visita la pagina oficial de la receta</a><br>
    <a href="../view/milanesaPure.html">Siguiente receta: Milanesa con puré</a><br>
    <a href="../../index.html">Volve a la pagina principal</a>
</body>

</html>