<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Milanesa con pure</title>
</head>

<body>
    <h1>Milanesas con puré</h1>
    <p>¡Esta receta de milanesas con puré tiene el poder de levantarte el ánimo en cualquier momento! Con unos pocos
        pasos, podés preparar uno de los platos más queridos y reconfortantes de la cocina argentina. Sumale un toque
        especial con Provenzal Alicante, que realza las milanesas con su mezcla de hierbas y un sutil picante. Y no te
        olvides de la Nuez Moscada Alicante en el puré, para darle ese sabor cálido, dulce y aromático que lo transforma
        en pura tentación.¡Animate a probar esta versión irresistible del clásico de todos los días!</p>
    <img src="../img/milanesa_con_pure2.jpg" alt="milanesa_con_pure2" width="500" height="250">

    <h2>Ingredientes</h2>
    <ul>
        <li>½ cda Condimento para milanesas y supremas</li>
        <li>⅛ cucharadita Nuez moscada molida</li>
        <li>¾ cda Mix crocante para carnes</li>
        <li>Pimienta blanca molida </li>
        <li>¼ cucharada Provenzal</li>
        <li>¼ kg Nalga cortada en bifes finos</li>
        <li>¼ kg Papas</li>
        <li>12 ½ gramos Manteca</li>
        <li>¼ taza Leche</li>
        <li>Pan rallado</li>
        <li>¼ u Huevo</li>
        <li>¼ cucharadita Vinagre de alcohol</li>
        <li>¼ cucharadita Mostaza</li>
        <li>¾ cda Sal</li>
        <li>Aceite de girasol</li>
    </ul>

    <h2>Pasos para la preparación: </h2>
    <ol>
        <li>
            Preparar dos fuentes. En una de ellas, batir el huevo con dos cucharadas de agua, 1 cdita de vinagre de
            alcohol, Provenzal Alicante, mostaza y una pizca de sal y en la otra, mezclar el pan rallado con el Mix
            crocante para Carne
        </li>
        <li>
            Condimentar los bifes con el Condimento para Milanesas y Supremas y pasar primero por el bowl con huevo,
            cuidando de cubrir toda la superficie y luego, con la ayuda de un tenedor pasar al otro bowl con pan
            rallado, cubrir bien con el pan, presionando con la punta de los dedos o con la parte de atrás del mismo
            tenedor.
        </li>
        <li>
            Reservar las milanesas tapadas.
        </li>
        <li>
            Repetir la operación con el resto de los bifes.
        </li>
        <li>
            Reservar en heladera por 30 minutos
        </li>
        <li>
            Mientras, preparar el puré: pelar las papas y hervir, a partir de agua fría con sal, hasta que estén muy
            blandas. Es muy importante colocar las papas enteras, sin cortar, para tener un puré mucho más cremoso y
            menos aguado.
        </li>
        <li>
            Colar y pisar con pisapapas mientras las papas están calientes.
        </li>
        <li>
            Condimentar con Nuez Moscada entera/molida, revolver y añadir la manteca e incorporar hasta que se derrita
            por completo.
        </li>
        <li>
            Luego ir vertiendo de a poco la leche tibia hasta conseguir la consistencia deseada.
        </li>
        <li>
            Reservar el puré cubierto con un paño para que no pierda temperatura.
        </li>
        <li>
            Calentar en una sartén aceite para freír y cuando esté bien caliente ir cocinando las milanesas, de a pocas
            a la vez para que no se enfríe de golpe el aceite y queden bien crocantes
        </li>
        <li>
            Servir las milanesas con el puré.
        </li>
    </ol>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/bNbce92tBlc?si=WDFzjZardoP04d5p"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <br><br>

    <a href="https://alicante.com.ar/receta/2674-receta-milanesas-con-pure/?servings=1.5">Visita la pagina oficial de la
        receta</a><br>
    <a href="../view/fideosTuco.html">iguiente receta: Fideos con tuco</a><br>
    <a href="../../index.html">Volve a la pagina principal</a>
</body>

</html>